### Content 
- Importing lybaries
- importing orders data
- print first 5 rows
- import product data
- print first 20/last 35 rows
- get coloumn names
- get numbers of rows/coloumns
- getting maximum value
- getting the type of variable

In [1]:
# step 3 ==> Importing lybaries
import pandas as pd;
import numpy as np;
import os;

In [2]:
# step 4 and 5 ==> importing orders data

#renaming columns
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order'];

#data source
path = r'/Users/lennartzeidler/Desktop/Uni/Instacart Basket Analysis 08.10.2022 (4)';
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), usecols = vars_list);

In [ ]:
# step 6 ==> print first 5 rows

df_ords.head();

In [3]:
# step 7 ==> import product data

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'));

In [ ]:
# step 8 ==> print first 20 rows

print(df_prods.head(20));

In [ ]:
# step 8 ==> print last 35 rows

print(df_prods.tail(35));

In [4]:
# step 9 ==> coloumn names

df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [ ]:
# step 10 ==> numbers of rows/coloumns

df_prods.shape

In [5]:
# step 11.1 ==> getting maximum value

df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

The maximum value of aisle_id is 134.

In [ ]:
# step 11.2 ==> getting the type of departement_id

df.info()