### Content
- create new column (price_range) using loc()
- creating list for busiest day in week using for-loop
- create new column for busiest days of the week using for-loop
- creating new column for busiest hour of day

In [1]:
# import lybaries

import pandas as pd
import numpy as np;
import os

In [2]:
# import data sets

path = r'/Users/lennartzeidler/Desktop/Uni/Instacart Basket Analysis 08.10.2022 (4)'

df_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

### create new column

In [3]:
#creating new column using loc()

df_merged.loc[df_merged['prices'] > 15, 'price_range'] = 'High-range product'
df_merged.loc[(df_merged['prices'] <= 15) & (df_merged['prices'] > 5), 'price_range'] = 'Mid-range product' 
df_merged.loc[df_merged['prices'] <= 5, 'price_range'] = 'Low-range product'

In [4]:
df_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product

In [5]:
df_merged['price_range'].value_counts()

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range, dtype: int64

### creating list for busiest day in week using for-loop

In [6]:
# create result list with for-loop

result = []

for value in df_merged["order_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [7]:
# create new column in df containig the list

df_merged['busiest_day'] = result

In [8]:
df_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy

In [9]:
# drop unnecessary column

df_merged = df_merged.drop(columns=['_merge', 'aisle_id'])

### create new column for busiest days of the week using for-loop

In [10]:
df_merged['order_day_of_week'].value_counts()
# most busiest days: 0(Sunday), 1(monday)
# slowest days: 3(wednesday), 4(thursday)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [11]:
# creating for-loop to fill list with corect content
results2 = []

for day in df_merged['order_day_of_week']:
    if day == 0 or day == 1:
        results2.append('Busiest days')
    elif day == 3 or day == 4:
        results2.append('Slowest days')
    else:
        results2.append('Regulary busy days')

In [12]:
len(results2)

32404859

In [13]:
df_merged.shape

(32404859, 14)

In [14]:
df_merged['busiest_days'] = results2

In [15]:
df_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,department_id,prices,price_range,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,7,9.0,Mid-range product,Regularly busy,Regulary busy days
1,2398795,1,2,3,7,15.0,196,1,1,Soda,7,9.0,Mid-range product,Regularly busy,Slowest days
2,473747,1,3,3,12,21.0,196,1,1,Soda,7,9.0,Mid-range product,Regularly busy,Slowest days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,7,9.0,Mid-range product,Least busy,Slowest days
4,431534,1,5,4,15,28.0,196,1,1,Soda,7,9.0,Mid-range product,Least busy,Slowest days

In [16]:
df_merged['busiest_days'].value_counts()

Regulary busy days    12916111
Busiest days          11864412
Slowest days           7624336
Name: busiest_days, dtype: int64

In [17]:
df_merged['busiest_day'].value_counts()

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

### creating new column for busiest hour of day

In [19]:
checking busiest hours of the day

df_merged['order_hour_of_day'].value_counts()
# regulary busy: 17 - 22 and 7 - 8
# most busy: 9 - 16
# least busy: 23 - 6

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [26]:
# creating for-loop to fill list with corect content
results3 = []

for hour in df_merged['order_hour_of_day']:
    if hour >= 9 and hour <= 16:
        results3.append('Busiest hours')
    elif hour >= 23 or hour <= 6:
        results3.append('Slowest hours')
    else:
        results3.append('Regulary busy hours')

In [27]:
df_merged['busiest_hours'] = results3

In [28]:
df_merged['busiest_hours'].value_counts()

Busiest hours          21118071
Regulary busy hours     9997651
Slowest hours           1289137
Name: busiest_hours, dtype: int64

### export new df in pkl format

In [29]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merged_sale_performance.pkl'))