In [1]:
# import lybaries

import pandas as pd
import numpy as np;
import os

In [16]:
# import data sets

path = r'/Users/lennartzeidler/Desktop/Uni/Instacart Basket Analysis 08.10.2022 (4)'

df_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [3]:
# create subset

df_merged_subset = df_merged[:1000000]

In [4]:
# create price_lable function ==> categorizes prices into three categories 

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [5]:
df_merged_subset.shape

(1000000, 14)

In [6]:
# adding funtion as new column to df

df_merged_subset['price_range'] = df_merged_subset.apply(price_label, axis=1)

/var/folders/zw/37lckzg54ll7byfmgjl5pkw40000gn/T/ipykernel_98695/974781221.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged_subset['price_range'] = df_merged_subset.apply(price_label, axis=1)

In [7]:
df_merged_subset.shape

(1000000, 15)

In [9]:
df_merged_subset['price_range'].value_counts()

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [10]:
# checking max price
df_merged_subset['prices'].max()

14.8

In [11]:
#creating new column using loc()

df_merged_subset.loc[df_merged_subset['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/zw/37lckzg54ll7byfmgjl5pkw40000gn/T/ipykernel_98695/3643869814.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged_subset.loc[df_merged_subset['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [12]:
df_merged_subset.loc[(df_merged_subset['prices'] <= 15) & (df_merged_subset['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [13]:
df_merged_subset.loc[df_merged_subset['prices'] <= 5, 'price_range_loc_loc'] = 'Low-range product'

/var/folders/zw/37lckzg54ll7byfmgjl5pkw40000gn/T/ipykernel_98695/2065459308.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged_subset.loc[df_merged_subset['prices'] <= 5, 'price_range_loc_loc'] = 'Low-range product'

### using function for df_merged

In [17]:
# create new price range column

df_merged.loc[df_merged['prices'] > 15, 'price_range] = 'High-range product'
df_merged.loc[(df_merged['prices'] <= 15) & (df_merged['prices'] > 5), 'price_range'] = 'Mid-range product'
df_merged.loc[df_merged['prices'] <= 5, 'price_range'] = 'Low-range product'

In [25]:
df_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product

In [27]:
df_merged['price_range'].value_counts()

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range, dtype: int64

### for-loop

In [31]:
# creating list for busiest day in week

result = []

for value in df_merged["order_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [33]:
# create new column in df containig the list

df_merged['busiest_day'] = result

In [34]:
df_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy